In [32]:
import pandas as pd
import os

In [33]:
imdb_csv = os.path.join("data", "imdb_movies.csv")
imdb_df = pd.read_csv(imdb_csv, low_memory=False)
imdb_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0465963,1:01,1:01,2006,1/27/2006,Drama,92,"Denmark, UK",Danish,Annette K. Olesen,...,"Mohammed Al-Bakier, Joy K. Petersen, Anette St...",In a Copenhagen suburb the 19-year-old Per is ...,5.9,302,NaN,NaN,"$34,061",NaN,3.0,11.0
1,tt5834036,1:54,1:54,2016,3/15/2017,"Drama, Sport",106,Canada,French,Yan England,...,"Antoine Olivier Pilon, Sophie Nélisse, Lou-Pas...","Tim, a shy 16 years old athlete, is both brill...",6.6,1335,NaN,NaN,NaN,46.0,19.0,14.0
2,tt1002561,2:13,2:13,2009,4/25/2009,"Drama, Mystery, Thriller",96,USA,English,Charles Adelman,...,"Mark Thompson, Mark Pellegrino, Teri Polo, Kev...",A police profiler has just returned from psych...,4.9,1120,"$3,500,000",NaN,NaN,NaN,14.0,3.0
3,tt1261041,2:22,2:22,2008,12/21/2010,"Crime, Drama, Thriller",104,Canada,English,Phillip Guzman,...,"Mick Rossi, Robert Miano, Aaron Gallagher, Jor...",The plan was easy; the job was not. On a snowy...,5.2,1290,NaN,NaN,NaN,NaN,19.0,5.0
4,tt0472582,2:37,2:37,2006,8/17/2006,Drama,95,Australia,English,Murali K. Thalluri,...,"Teresa Palmer, Frank Sweet, Sam Harris, Charle...","At 2:37, someone commits suicide in the school...",6.8,6918,AUD 1000000,NaN,"$446,125",NaN,77.0,42.0

In [34]:
imdb_df = imdb_df[["imdb_title_id", "title", "original_title", "year", "date_published", "genre", "country", "avg_vote", "votes", "budget", "usa_gross_income", "metascore", "reviews_from_users", "reviews_from_critics"]]
imdb_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,country,avg_vote,votes,budget,usa_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0465963,1:01,1:01,2006,1/27/2006,Drama,"Denmark, UK",5.9,302,NaN,NaN,NaN,3.0,11.0
1,tt5834036,1:54,1:54,2016,3/15/2017,"Drama, Sport",Canada,6.6,1335,NaN,NaN,46.0,19.0,14.0
2,tt1002561,2:13,2:13,2009,4/25/2009,"Drama, Mystery, Thriller",USA,4.9,1120,"$3,500,000",NaN,NaN,14.0,3.0
3,tt1261041,2:22,2:22,2008,12/21/2010,"Crime, Drama, Thriller",Canada,5.2,1290,NaN,NaN,NaN,19.0,5.0
4,tt0472582,2:37,2:37,2006,8/17/2006,Drama,Australia,6.8,6918,AUD 1000000,NaN,NaN,77.0,42.0

In [35]:
imdb_df.count()

imdb_title_id           85855
title                   85855
original_title          85855
year                    85855
date_published          85855
genre                   85855
country                 85791
avg_vote                85855
votes                   85855
budget                  23710
usa_gross_income        15326
metascore               13305
reviews_from_users      78258
reviews_from_critics    74058
dtype: int64

In [36]:
usa_filter = ["USA"]
usa_imdb = imdb_df.loc[imdb_df["country"].isin(usa_filter)]
usa_imdb

,imdb_title_id,title,original_title,year,date_published,genre,country,avg_vote,votes,budget,usa_gross_income,metascore,reviews_from_users,reviews_from_critics
2,tt1002561,2:13,2:13,2009,4/25/2009,"Drama, Mystery, Thriller",USA,4.9,1120,"$3,500,000",NaN,NaN,14.0,3.0
5,tt0090564,3:15,3:15,1986,1/31/1986,"Crime, Drama, Thriller",USA,5.7,574,NaN,NaN,NaN,10.0,17.0
12,tt2048688,8:46,8:46,2011,9/4/2012,Drama,USA,5.8,342,"$25,000",NaN,NaN,8.0,6.0
14,tt0259822,0.45,0.45,2006,11/30/2006,"Crime, Drama, Thriller",USA,5.6,7967,"$5,000,000",NaN,NaN,72.0,27.0
15,tt4250438,11:55,11:55,2016,6/9/2017,"Crime, Drama",USA,4.9,496,NaN,NaN,NaN,8.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85770,tt0032164,Zorro,Zorro's Fighting Legion,1939,12/16/1939,"Action, Adventure, History",USA,7.2,372,NaN,NaN,NaN,14.0,7.0
85775,tt0056725,Zotz!,Zotz!,1962,7/1/1962,"Comedy, Fantasy",USA,5.9,759,NaN,NaN,NaN,27.0,23.0
85779,tt0071424,"Zozza Mary, pazzo Gary",Dirty Mary Crazy Larry,1974,5/17/1974,"Action, Crime, Thriller",USA,6.7,6136,"$2,000,000",NaN,52.0,79.0,85.0
85852,tt0429277,Zyzzyx Rd,Zyzzyx Rd,2006,2/24/2006,"Crime, Drama, Thriller",USA,4.1,983,"$2,000,000",$30,NaN,11.0,2.0
85854,tt0022731,#NAME?,#NAME?,1932,4/9/1932,Comedy,USA,5.6,224,NaN,NaN,NaN,19.0,3.0

In [37]:
usa_imdb['budget'] = usa_imdb['budget'].str.replace(r"[a-zA-Z]",'')

<ipython-input-37-e2de82120298>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_imdb['budget'] = usa_imdb['budget'].str.replace(r"[a-zA-Z]",'')

In [40]:
usa_imdb.sort_values(by='budget', ascending=False, inplace=True)

<ipython-input-40-3d47c20de30f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_imdb.sort_values(by='budget', ascending=False, inplace=True)

In [41]:
usa_imdb

,imdb_title_id,title,original_title,year,date_published,genre,country,avg_vote,votes,budget,usa_gross_income,metascore,reviews_from_users,reviews_from_critics
39675,tt0043117,La carovana dei mormoni,Wagon Master,1950,1/10/1951,"Adventure, Western",USA,7.1,4226,"$999,370",NaN,NaN,56.0,44.0
59902,tt0043120,Prego sorrida!,Watch the Birdie,1950,1/12/1951,"Comedy, Crime, Romance",USA,6.2,322,"$996,000",NaN,NaN,13.0,2.0
80236,tt0050771,Un urlo nella notte,No Down Payment,1957,10/30/1957,Drama,USA,7.1,864,"$995,000",NaN,NaN,31.0,7.0
82721,tt0029546,Voglio danzare con te,Shall We Dance,1937,10/27/1937,"Comedy, Musical, Romance",USA,7.5,6414,"$991,000",NaN,NaN,60.0,23.0
4362,tt4733536,American Hero,American Hero,2015,12/11/2015,"Action, Comedy, Drama",USA,4.9,3798,"$990,000",NaN,42.0,30.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85756,tt5340882,Zoombies,Zoombies,2016,2/15/2017,"Action, Adventure, Comedy",USA,3.3,2179,NaN,NaN,NaN,41.0,27.0
85762,tt0083365,Zoot Suit,Zoot Suit,1981,1/1/1982,"Drama, Musical",USA,6.8,1048,NaN,"$3,256,082",NaN,20.0,2.0
85770,tt0032164,Zorro,Zorro's Fighting Legion,1939,12/16/1939,"Action, Adventure, History",USA,7.2,372,NaN,NaN,NaN,14.0,7.0
85775,tt0056725,Zotz!,Zotz!,1962,7/1/1962,"Comedy, Fantasy",USA,5.9,759,NaN,NaN,NaN,27.0,23.0
85854,tt0022731,#NAME?,#NAME?,1932,4/9/1932,Comedy,USA,5.6,224,NaN,NaN,NaN,19.0,3.0

In [26]:
usa_imdb.value

,imdb_title_id,title,original_title,year,date_published,genre,country,avg_vote,votes,budget,usa_gross_income,metascore,reviews_from_users,reviews_from_critics
78421,tt2197776,Training for a Fight,Training for a Fight,2012,7/10/2012,"Action, Drama, Sport",USA,1.4,149,500000.0,NaN,NaN,1.0,NaN
75212,tt0088751,The Naked Monster,The Naked Monster,2005,4/22/2005,"Comedy, Horror, Sci-Fi",USA,5.4,264,350000000.0,NaN,NaN,15.0,8.0
35397,tt0110169,It's Pat: The Movie,It's Pat: The Movie,1994,11/25/1994,Comedy,USA,2.7,9238,8000000.0,"$60,822",NaN,122.0,12.0
37353,tt0044788,Kangarù,Kangaroo,1952,6/1/1952,"Adventure, Drama, Western",USA,5.5,258,800000.0,NaN,NaN,7.0,7.0
55017,tt0039737,Notte senza fine,Pursued,1947,1/30/1948,"Drama, Mystery, Romance",USA,7.2,2773,610000.0,NaN,NaN,45.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85756,tt5340882,Zoombies,Zoombies,2016,2/15/2017,"Action, Adventure, Comedy",USA,3.3,2179,NaN,NaN,NaN,41.0,27.0
85762,tt0083365,Zoot Suit,Zoot Suit,1981,1/1/1982,"Drama, Musical",USA,6.8,1048,NaN,"$3,256,082",NaN,20.0,2.0
85770,tt0032164,Zorro,Zorro's Fighting Legion,1939,12/16/1939,"Action, Adventure, History",USA,7.2,372,NaN,NaN,NaN,14.0,7.0
85775,tt0056725,Zotz!,Zotz!,1962,7/1/1962,"Comedy, Fantasy",USA,5.9,759,NaN,NaN,NaN,27.0,23.0
85854,tt0022731,#NAME?,#NAME?,1932,4/9/1932,Comedy,USA,5.6,224,NaN,NaN,NaN,19.0,3.0

In [30]:
usa_imdb.sort_values(by='budget',ascending=False)

,imdb_title_id,title,original_title,year,date_published,genre,country,avg_vote,votes,budget,usa_gross_income,metascore,reviews_from_users,reviews_from_critics
75212,tt0088751,The Naked Monster,The Naked Monster,2005,4/22/2005,"Comedy, Horror, Sci-Fi",USA,5.4,264,350000000.0,NaN,NaN,15.0,8.0
35397,tt0110169,It's Pat: The Movie,It's Pat: The Movie,1994,11/25/1994,Comedy,USA,2.7,9238,8000000.0,"$60,822",NaN,122.0,12.0
40940,tt0082497,La mano,The Hand,1981,4/24/1981,"Drama, Horror, Thriller",USA,5.5,5416,6500000.0,"$2,447,576",59.0,58.0,54.0
83984,tt0209486,Wish You Were Dead,Wish You Were Dead,2001,12/5/2001,"Comedy, Crime, Thriller",USA,4.9,388,4500000.0,NaN,NaN,7.0,2.0
28728,tt1524130,Hitler's Grave,Hitler's Grave,2010,10/21/2011,Drama,USA,3.6,362,2300000.0,NaN,NaN,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85756,tt5340882,Zoombies,Zoombies,2016,2/15/2017,"Action, Adventure, Comedy",USA,3.3,2179,NaN,NaN,NaN,41.0,27.0
85762,tt0083365,Zoot Suit,Zoot Suit,1981,1/1/1982,"Drama, Musical",USA,6.8,1048,NaN,"$3,256,082",NaN,20.0,2.0
85770,tt0032164,Zorro,Zorro's Fighting Legion,1939,12/16/1939,"Action, Adventure, History",USA,7.2,372,NaN,NaN,NaN,14.0,7.0
85775,tt0056725,Zotz!,Zotz!,1962,7/1/1962,"Comedy, Fantasy",USA,5.9,759,NaN,NaN,NaN,27.0,23.0
85854,tt0022731,#NAME?,#NAME?,1932,4/9/1932,Comedy,USA,5.6,224,NaN,NaN,NaN,19.0,3.0

In [31]:
usa_imdb.head(50)

,imdb_title_id,title,original_title,year,date_published,genre,country,avg_vote,votes,budget,usa_gross_income,metascore,reviews_from_users,reviews_from_critics
75212,tt0088751,The Naked Monster,The Naked Monster,2005,4/22/2005,"Comedy, Horror, Sci-Fi",USA,5.4,264,350000000.0,NaN,NaN,15.0,8.0
35397,tt0110169,It's Pat: The Movie,It's Pat: The Movie,1994,11/25/1994,Comedy,USA,2.7,9238,8000000.0,"$60,822",NaN,122.0,12.0
40940,tt0082497,La mano,The Hand,1981,4/24/1981,"Drama, Horror, Thriller",USA,5.5,5416,6500000.0,"$2,447,576",59.0,58.0,54.0
83984,tt0209486,Wish You Were Dead,Wish You Were Dead,2001,12/5/2001,"Comedy, Crime, Thriller",USA,4.9,388,4500000.0,NaN,NaN,7.0,2.0
28728,tt1524130,Hitler's Grave,Hitler's Grave,2010,10/21/2011,Drama,USA,3.6,362,2300000.0,NaN,NaN,14.0,NaN
75481,tt0156881,The Pawn,The Pawn,1999,4/4/1999,"Action, Crime, Drama",USA,4.2,132,2100000.0,NaN,NaN,3.0,1.0
37353,tt0044788,Kangarù,Kangaroo,1952,6/1/1952,"Adventure, Drama, Western",USA,5.5,258,800000.0,NaN,NaN,7.0,7.0
55017,tt0039737,Notte senza fine,Pursued,1947,1/30/1948,"Drama, Mystery, Romance",USA,7.2,2773,610000.0,NaN,NaN,45.0,41.0
40179,tt0022268,La donna di platino,Platinum Blonde,1931,11/1/1933,"Comedy, Romance",USA,6.9,2719,600000.0,NaN,NaN,60.0,27.0
4033,tt9062580,Alone,Alone,2019,5/20/2019,"Adventure, Drama, Sci-Fi",USA,6.4,206,570000.0,NaN,NaN,NaN,NaN
78421,tt2197776,Training for a Fight,Training for a Fight,2012,7/10/2012,"Action, Drama, Sport",USA,1.4,149,500000.0,NaN,NaN,1.0,NaN
45168,tt0055719,L'eroe di Sparta,The 300 Spartans,1962,10/1/1962,"Adventure, Drama, History",USA,6.6,6500,500000.0,NaN,NaN,111.0,22.0
76258,tt1525898,The Space Between,The Space Between,2010,9/11/2011,Drama,USA,6.6,627,15000.0,NaN,NaN,6.0,8.0
23351,tt0128216,Flophouse,Flophouse,2002,2002,Comedy,USA,1.9,204,15000.0,NaN,NaN,2.0,NaN
54636,tt0425308,Noise,Noise,2007,11/25/2009,"Comedy, Crime, Drama",USA,6.2,4164,2000.0,"$16,513",55.0,29.0,32.0
62110,tt1103256,Red sands - La forza occulta,Red Sands,2009,3/25/2009,"Action, Horror, Thriller",USA,4.2,3297,1500.0,NaN,NaN,32.0,20.0
83010,tt0338543,Wake,Wake,2003,11/15/2003,Drama,USA,6.6,362,1000.0,"$7,212",34.0,15.0,5.0
39675,tt0043117,La carovana dei mormoni,Wagon Master,1950,1/10/1951,"Adventure, Western",USA,7.1,4226,999.0,NaN,NaN,56.0,44.0
59902,tt0043120,Prego sorrida!,Watch the Birdie,1950,1/12/1951,"Comedy, Crime, Romance",USA,6.2,322,996.0,NaN,NaN,13.0,2.0
80236,tt0050771,Un urlo nella notte,No Down Payment,1957,10/30/1957,Drama,USA,7.1,864,995.0,NaN,NaN,31.0,7.0
82721,tt0029546,Voglio danzare con te,Shall We Dance,1937,10/27/1937,"Comedy, Musical, Romance",USA,7.5,6414,991.0,NaN,NaN,60.0,23.0
4362,tt4733536,American Hero,American Hero,2015,12/11/2015,"Action, Comedy, Drama",USA,4.9,3798,990.0,NaN,42.0,30.0,19.0
4901,tt0825346,And Then Came Love,And Then Came Love,2007,6/1/2007,"Comedy, Romance",USA,4.7,486,989.0,"$13,944",NaN,4.0,6.0
53647,tt0041513,Nella polvere del profondo Sud,Intruder in the Dust,1949,3/20/1950,"Crime, Drama",USA,7.5,1902,988.0,NaN,NaN,34.0,18.0
67415,tt0449393,Siren,Siren,2006,2006,"Comedy, Drama, Music",USA,2.6,1794,987.0,NaN,NaN,12.0,1.0
64490,tt0046202,Sangue sul fiume,Powder River,1953,6/8/1953,Western,USA,6.4,219,985.0,NaN,NaN,8.0,5.0
12618,tt0056687,Che fine ha fatto Baby Jane?,What Ever Happened to Baby Jane?,1962,5/17/1963,"Drama, Horror, Thriller",USA,8.1,48788,980.0,NaN,75.0,247.0,106.0
48563,tt0021106,Madame Satan,Madam Satan,1930,9/20/1930,"Comedy, Drama, Musical",USA,6.5,838,980.0,NaN,NaN,43.0,19.0
33953,tt0358529,I'll Bury You Tomorrow,I'll Bury You Tomorrow,2002,6/17/2002,"Horror, Thriller, Mystery",USA,5.8,257,980.0,NaN,NaN,18.0,23.0
27703,tt0071598,Harry & Tonto,Harry and Tonto,1974,5/19/1979,"Adventure, Comedy, Drama",USA,7.4,4987,980.0,NaN,NaN,68.0,38.0
21855,tt0020572,Evviva il pericolo!,Welcome Danger,1929,5/5/1930,Comedy,USA,6.0,669,979.0,NaN,NaN,26.0,13.0
56182,tt0086050,One Dark Night,One Dark Night,1982,2/25/1983,Horror,USA,5.7,2495,978.0,NaN,NaN,72.0,33.0
14286,tt0820858,Confessions,Confessions,2006,7/27/2007,"Crime, Drama, Mystery",USA,3.5,138,975.0,NaN,NaN,4.0,1.0
15769,tt0401516,Dancing in Twilight,Dancing in Twilight,2005,2005,"Romance, Drama",USA,5.8,101,975.0,NaN,NaN,3.0,1.0
39341,tt0348663,L.A. D.J.,L.A. D.J.,2004,4/2/2004,Comedy,USA,5.0,109,975.0,NaN,NaN,10.0,NaN
42293,tt0044665,La strada dell'eternità,Glory Alley,1952,6/6/1952,"Drama, Music",USA,6.1,429,971.0,NaN,NaN,14.0,4.0
76247,tt0017419,The Sorrows of Satan,The Sorrows of Satan,1926,10/12/1926,"Drama, Romance",USA,6.2,206,971.0,NaN,NaN,7.0,4.0
50678,tt0049443,Mia moglie è di leva,The Lieutenant Wore Skirts,1956,1/11/1956,Comedy,USA,5.8,225,970.0,NaN,NaN,6.0,6.0
32626,tt0078508,Il mistero di Wolf Lake,Wolf Lake,1980,2/8/1980,"Drama, Thriller",USA,6.2,247,970.0,NaN,NaN,12.0,7.0
46239,tt0045919,L'isola nel cielo,Island in the Sky,1953,9/5/1953,"Adventure, Drama",USA,6.9,3034,967.0,NaN,NaN,77.0,24.0
8523,tt0044105,Bersaglio eccellente,The Tall Target,1951,8/17/1951,"Adventure, Crime, Drama",USA,7.2,1646,966.0,NaN,NaN,37.0,18.0
81434,tt0030216,Vacanze d'amore,Having Wonderful Time,1938,7/1/1938,"Comedy, Romance",USA,6.0,668,966.0,NaN,NaN,13.0,5.0
42208,tt0028661,La sposa vestiva di rosa,The Bride Wore Red,1937,10/8/1937,"Comedy, Drama, Romance",USA,6.2,867,960.0,NaN,NaN,25.0,13.0
2122,tt0052030,É sbarcato un marinaio,Onionhead,1958,10/25/1958,"Comedy, Drama, War",USA,6.0,502,960.0,NaN,NaN,14.0,2.0
63156,tt0075148,Rocky,Rocky,1976,3/25/1977,"Drama, Sport",USA,8.1,506246,960.0,"$117,235,147",70.0,705.0,184.0
71143,tt0036748,Tamara figlia della steppa,Days of Glory,1944,6/16/1944,"Drama, Romance, War",USA,6.2,1169,958.0,NaN,NaN,29.0,9.0
7886,tt0035664,Bataan,Bataan,1943,4/15/1944,"Drama, War",USA,6.9,2205,958.0,NaN,NaN,46.0,8.0
63902,tt0048790,Sabato tragico,Violent Saturday,1955,9/30/1955,"Crime, Drama, Film-Noir",USA,6.9,1994,955.0,NaN,NaN,48.0,46.0
33618,tt0049225,Il suo angelo custode,"Forever, Darling",1956,2/9/1956,"Comedy, Fantasy",USA,6.3,856,951.0,NaN,NaN,20.0,8.0
15192,tt0445948,Cult,Cult,2007,8/1/2010,Horror,USA,2.9,932,950.0,NaN,NaN,7.0,11.0